@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Inter Fonts */
@font-face {font-family: 'Inter-Bold';src: url('../src/assets/fonts/Inter/Inter_Bold_700.otf') format('opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Inter-SemiBold';src: url('../src/assets/fonts/Inter/Inter_Semi_Bold_600.otf') format('opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Inter-Medium';src: url('../src/assets/fonts/Inter/Inter_Medium_500.otf') format('opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Inter-Regular';src: url('../src/assets/fonts/Inter/Inter_Regular_400.otf') format('opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Inter-Light';src: url('../src/assets/fonts/Inter/Inter-Light.otf') format('opentype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Inter-Thin';src: url('../src/assets/fonts/Inter/Inter-Thin.otf') format('opentype');font-weight: normal;font-style: normal;} 
body{
  font-family: 'Inter-Regular';
  overflow: hidden;
 }