.chat-messages{
    height: 450px;
    overflow: auto;
}
.agent-side{
   display: flex;
   align-items: start;
   gap: 10px;
}
.bot-icon{
    border-radius: 50%;
    background: #10b981;
    width: 35px;
    height: 35px;
    position: relative;
   ;&::after{
   content: '';
    width: 25px;
    height: 25px;
    background: url(../../assets/bot-icon.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
  
}
.msg-conatiner{
    padding: 1rem;
    border-radius: 10px;
    border:1px solid #e5e7eb;
    width: fit-content;
}

.user-side{
    margin: 2rem 0;
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: flex-end;
 }
 .user-icon{
     border-radius: 50%;
     background: #5b6cee;
     width: 35px;
     height: 35px;
     position: relative;
    ;&::after{
    content: '';
     width: 25px;
     height: 25px;
     background: url(../../assets/user-icon.svg) center no-repeat;
     background-size: contain;
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%);
    }
   
 }
 .typing_icon {
    background: transparent;
    // background: var(--hx-color-company-gradient);
  min-height: 8px ;padding: 0 2px 3px ;display: inline-block;
    border-radius: 20px ;-o-border-radius: 20px ;-ms-border-radius: 20px ;
    -moz-border-radius: 20px ;-webkit-border-radius: 20px ;width: auto ;min-width: 45px ;
}
 .dot {
    display: inline-block;width: 8px;height: 8px;
    border-radius: 50%;margin-right: 7px;
    animation: wave 1.3s linear infinite;
    position: relative;left: 17px;animation-delay: -1.1s;
    @apply bg-blue-500
}

.dot:before {
    position: absolute;
    left: -10px;
    content: '';
    display: inline-block;width: 8px;height: 8px;
    border-radius: 50%;margin-right: 7px;animation: wave 1.3s linear infinite;
    @apply bg-blue-500
}

.dot:after {
    position: absolute; content: ''; display: inline-block;width: 8px;height: 8px; border-radius: 50%;
    margin-right: 7px;animation: wave 1.3s linear infinite; left: 10px;animation-delay: -0.9s;
    @apply bg-blue-500
}

@keyframes wave {
    0%,
    60%,
    100% {
        opacity: .05;
    }
    30% {
        opacity: 1;
    }
}
  